//
//  SYST_DEVELOPER.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// POD NAME
#include "Pods/Target Support Files/Pods-MyMappWatch Extension/Pods-MyMappWatch Extension.dev-developer.xcconfig"


// SERVER CONFIGURATION
#include "DEV_COMMON.xcconfig"

// COMMON CONFIGURATION
#include "../COMMON.xcconfig"

// WATCH_EXT_COMMON CONFIGURATION
#include "../COMMON_WATCH_EXT.xcconfig"

// BUILD TYPE CONFIGURATION
#include "../BUILD_TYPE_DEVELOPER_STORE.xcconfig"

// PROVISIONING PROFILE - Automatic
PROVISIONING_PROFILE                                                            = // SET KEY HERE -> 9fa0e8a9-61dc-4266-baeb-d6d81771fb19
PROVISIONING_PROFILE_SPECIFIER                                                   = // SET KEY HER

