//
//  SYST_QA.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// POD NAME
#include "Pods/Target Support Files/Pods-MyMappWatch/Pods-MyMappWatch.dev-qa.xcconfig"

// SERVER CONFIGURATION
#include "DEV_COMMON.xcconfig"

// COMMON CONFIGURATION
#include "../COMMON.xcconfig"

// WATCH_COMMON CONFIGURATION
#include "../COMMON_WATCH.xcconfig"

// BUILD TYPE CONFIGURATION
#include "../BUILD_TYPE_QA_ENTERPRISE.xcconfig"

// PROVISIONING PROFILE (BJSS Enterprise In House)
PROVISIONING_PROFILE                                                             = // SET KEY HERE -> 4b6dd0d5-f504-417e-ba18-8ab5b822a63b
PROVISIONING_PROFILE_SPECIFIER                                                   = // SET KEY HERE

