<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(BUNDLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION_NUMBER}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(BUNDLE_NAME_PREFIX)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(BUNDLE_NAME_PREFIX)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb585249094978779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-000000000</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Custom Values</key>
	<dict>
		<key>kAPIKey</key>
		<string>${ENV_APIKey}</string>
		<key>kAndroidClientID</key>
		<string>${ENV_androidClientID}</string>
		<key>kAppSeeKey</key>
		<string>${APPSEE_KEY}</string>
		<key>kBackendURL</key>
		<string>${ENV_databaseURL}</string>
		<key>kBundleID</key>
		<string>${BUNDLE_NAME_PREFIX}</string>
		<key>kClientID</key>
		<string>${ENV_clientID}</string>
		<key>kDeepLinkURLScheme</key>
		<string>${ENV_deepLinkURLScheme}</string>
		<key>kDropEventKey</key>
		<string>${DROP_EVENT_KEY}</string>
		<key>kGCMSenderID</key>
		<string>${ENV_GCMSenderID}</string>
		<key>kGoogleAppID</key>
		<string>${ENV_googleAppID}</string>
		<key>kMixpanelKey</key>
		<string>${MIXPANEL_KEY}</string>
		<key>kNewRelicKey</key>
		<string>${NEW_RELIC_KEY}</string>
		<key>kPassbookKey</key>
		<string>${PASSBOOK_SERVICE_KEY}</string>
		<key>kStorageBucket</key>
		<string>${ENV_storageBucket}</string>
		<key>kTrackingID</key>
		<string>${ENV_trackingID}</string>
		<key>kUXCamKey</key>
		<string>${UX_CAM_KEY}</string>
	</dict>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>${APP_CRASH_REPORTING_CRASHLYTICS_KEY}</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>585249094978779</string>
	<key>FacebookDisplayName</key>
	<string>USAF­u­n­d­sPOC</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please allow</string>
	<key>NSContactsUsageDescription</key>
	<string>Please allow MyMapp to add your Personal Assistant to your contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow MyMapp to access your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow</string>
	<key>Pushwoosh_APPID</key>
	<string>${PUSH_NOTIFICATION_KEY}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Cubano-Regular.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
