//
//  LIVE_QA.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// POD NAME
#include "Pods/Target Support Files/Pods-MyMappWatch/Pods-MyMappWatch.live-qa.xcconfig"

// SERVER CONFIGURATION
#include "LIVE_COMMON.xcconfig"

// COMMON CONFIGURATION
#include "../COMMON.xcconfig"

// WATCH_COMMON CONFIGURATION
#include "../COMMON_WATCH.xcconfig"

// BUILD TYPE CONFIGURATION
#include "../BUILD_TYPE_QA_ENTERPRISE.xcconfig"

// PROVISIONING PROFILE - LIVE QA
PROVISIONING_PROFILE                                                            = // SET KEY HERE -> dba5bb09-c10e-4116-9169-05003ebf90ee
PROVISIONING_PROFILE_SPECIFIER                                                   = // SET KEY HER
