Firebas//
//  LIVE_DEVELOPER.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// POD NAME
#include "Pods/Target Support Files/Pods-MyMappWatch Extension/Pods-MyMappWatch Extension.live-developer.xcconfig"

// SERVER CONFIGURATION
#include "LIVE_COMMON.xcconfig"

// COMMON CONFIGURATION
#include "../COMMON.xcconfig"

// WATCH_EXT_COMMON CONFIGURATION
#include "../COMMON_WATCH_EXT.xcconfig"

// BUILD TYPE CONFIGURATION
#include "../BUILD_TYPE_DEVELOPER_STORE.xcconfig"

//:configuration = Automatic
PROVISIONING_PROFILE                                                            = // SET KEY HERE -> 0def3c9a-14a0-480f-a2ba-b96b403a043f
