//
//  BUILD_TYPE_PRODUCTION.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// PROVISIONING TYPE
PROV_TYPE                                                                       = PROD

// PRE PROCESSOR DEFINITIONS
BUILD_TYPE_GCC_PREPROCESSOR_DEFINITIONS                                         = PRODUCTION
BUILD_TYPE_SWIFT_FLAGS                                                          = -DPRODUCTION

// CODE SIGNING
CODE_SIGN_IDENTITY                                                              = iPhone Distribution: BJSS Limited



