//
//  BUILD_TYPE_DEVELOPER.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// PROVISIONING TYPE
PROV_TYPE                                                                       = DEV

// PRE PROCESSOR DEFINITIONS
BUILD_TYPE_GCC_PREPROCESSOR_DEFINITIONS                                         = DEBUG
BUILD_TYPE_SWIFT_FLAGS                                                          = -DDEBUG

// CODE SIGNING - Automatic
CODE_SIGN_IDENTITY                                                              = iPhone Developer: James Whitehouse (ZJDH45VVT6)

//:completeSettings = none

// OPTIMIZATION LEVEL - Allows debugging
GCC_OPTIMIZATION_LEVEL                                                          = 0
CLANG_ENABLE_CODE_COVERAGE                                                      = YES
GCC_GENERATE_TEST_COVERAGE_FILES                                                = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS                                                = NO
