//
//  BUILD_TYPE_QA.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//

// PROVISIONING TYPE
PROV_TYPE                                                                       = QA

// PRE PROCESSOR DEFINITIONS
BUILD_TYPE_GCC_PREPROCESSOR_DEFINITIONS                                         = QA
BUILD_TYPE_SWIFT_FLAGS                                                          = -DQA

// CODE SIGNING FOR Waitrose
CODE_SIGN_IDENTITY                                                              = iPhone Distribution: BJSS Limited

