//
//  COMMON_WATCH_EXT.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//



//--------------------------------------------------------------------------
// GENERIC VALUES
//--------------------------------------------------------------------------


// DISABLE BITCODE
ENABLE_BITCODE                                                                  = YES