//
//  COMMON.xcconfig
//  BaseProject
//
//  Created by BJSS on 11/11/2015.
//  Copyright © 2016 BJSS Limited. All rights reserved.
//



//--------------------------------------------------------------------------
// GENERIC VALUES
//--------------------------------------------------------------------------


// VERSION NUMBER
VERSION_NUMBER                                                                  = 1.0

// TEAM
DEVELOPMENT_TEAM                                                                = GCYT26D724

// SWIFT VERSION
SWIFT_VERSION                                                                   = 2.3

//:completeSettings = none


// API Keys - Common (BJSS Key)
////////////////////////////
APP_CRASH_REPORTING_CRASHLYTICS_KEY                                             = 9333f72f1f0407481b7d21d9a4989af9ecf62bb2
APP_CRASH_REPORTING_CRASHLYTICS_KEY_BUILD                                       = fa5f2989fc26a5b8fe7a45cbc8a48b5b864e8df6c6afc9dfd040833c04b3c7ca

//PASSBOOK_SERVICE_KEY                                                            = HoCFHycurzlZasJfLzVTQChZkVEJCETTzUpQGdGzJXzSrrajtHFtRnIoDZvdzSXu
//UX_CAM_KEY                                                                      = 0ed1338b0ec82d3

CODE_SIGN_RESOURCE_RULES_PATH                                                   =
COMMON_GCC_PREPROCESSOR_DEFINITIONS                                             =
COMMON_SWIFT_FLAGS                                                              =

GCC_PREPROCESSOR_DEFINITIONS                                                    = $(COMMON_GCC_PREPROCESSOR_DEFINITIONS) $(BUILD_TYPE_GCC_PREPROCESSOR_DEFINITIONS) $(ENV_GCC_PREPROCESSOR_DEFINITIONS) $(PODS_CUSTOM_GCC_PREPROCESSOR_DEFINITIONS)
OTHER_SWIFT_FLAGS                                                                = $(COMMON_SWIFT_FLAGS) $(BUILD_TYPE_SWIFT_FLAGS) $(ENV_SWIFT_FLAGS)

//--------------------------------------------------------------------------
// FINAL VALUES
//--------------------------------------------------------------------------

// Bundle Name Prefix - Used for the bundle identifier
BUNDLE_NAME_PREFIX                                                              = com.bjss.USAFundsPOC

BUNDLE_NAME                                                                     = BM $(ENV_ABR)-$(PROV_TYPE)
BUNDLE_DISPLAY_NAME                                                             = ${PROV_TYPE}${EXT_NAME}

BUNDLE_IDENTIFIER                                                               = ${BUNDLE_NAME_PREFIX}${EXT_NAME}
BUNDLE_IDENTIFIER_WATCH                                                         = ${BUNDLE_IDENTIFIER}.watch
BUNDLE_IDENTIFIER_WATCH_EXTENSION                                               = ${BUNDLE_IDENTIFIER_WATCH}.ext
NOTIFICATION_BUNDLE_IDENTIFIER                                                  = $(BUNDLE_IDENTIFIER).notification

SIMPLE_SLASH                                                                    = /

// FRAMEWORK SEARCH PATH
FRAMEWORK_SEARCH_PATHS                                                          = $(PODS_CUSTOM_FRAMEWORK_SEARCH_PATHS) $(inherited)

// LIBRARIES SEARCH PATH
LIBRARY_SEARCH_PATHS                                                            = $(PODS_CUSTOM_LIBRARY_SEARCH_PATHS)

// HEADER SEARCH PATH
HEADER_SEARCH_PATHS                                                             = $(PODS_CUSTOM_HEADER_SEARCH_PATHS)

// OTHER CFLAGS
OTHER_CFLAGS                                                                    = $(PODS_CUSTOM_OTHER_CFLAGS)

// OTHER LDFLAGS
OTHER_LDFLAGS                                                                   = $(PODS_CUSTOM_OTHER_LDFLAGS) //-lstdc++ -all_load -ObjC

// DISABLE BITCODE
ENABLE_BITCODE                                                                  = NO

// Suppress specific compiler warnings
// (e.g. ones that were ignored by previous devs since day 1)
MOMC_NO_DELETE_RULE_WARNINGS                                                    = YES

MOMC_NO_INVERSE_RELATIONSHIP_WARNINGS                                           = YES

// OPTIMIZATION LEVEL - Optimized - Fastest / Smallest
GCC_OPTIMIZATION_LEVEL                                                          = s

CLANG_ENABLE_CODE_COVERAGE                                                      = NO
GCC_GENERATE_TEST_COVERAGE_FILES                                                = NO
GCC_INSTRUMENT_PROGRAM_FLOW_ARCS                                                = NO

//:configuration = DEV-QA
DEBUG_INFORMATION_FORMAT                                                        = dwarf-with-dsym










